---
import Layout from "../layouts/Layout.astro";
import { getTotalBlogViews } from "../lib/dev";
import { getGithubUser, getTotalStars } from "../lib/github";

const title = "nexxel • dashboard";
const { followers, public_repos } = await getGithubUser("nexxeln");
const stars = await getTotalStars("nexxeln");
const views = await getTotalBlogViews();
---

<Layout title={title}>
  <main class="flex flex-col h-screen items-center">
    <h1 class="font-extrabold text-(2xl center) md:text-4xl pt-6">
      {title}
    </h1>

    <p>stars: {stars}</p>
    <p>followers: {followers}</p>
    <p>repos: {public_repos}</p>
    <p>views: {views}</p>
  </main>
</Layout>
